@model Actividad
@using Microsoft.AspNetCore.Http

<div style="display: flex; justify-content: space-between;">
    <h2>Dojo Activity Center</h2>
    <div>
        <a asp-controller="Home" asp-action="AllActividades">Dashboard</a> | <form asp-controller="Home" asp-action="Logout"
            method="post"><button class="btn btn-link">Logout</button></form>
    </div>
</div>
<div>
    <h5>@Model.ActivityName</h5>
    @{
        bool alreadyGoing = @Model.ActiveUser.Any(r => Context.Session.GetInt32("UserID") == r.UserID);
        if (@Model.UserID == Context.Session.GetInt32("UserID"))
        {
            <form asp-controller="Home" asp-action="Delete" asp-route-activityId="@Model.ActividadID" method="POST">
                <button class="btn btn-outline-danger btn-link">Delete</button>
            </form>
        }
        else
        {
            <form asp-controller="Home" asp-action="Join" asp-route-activityId="@Model.ActividadID">
                @if (alreadyGoing)
                {
                    <button class="btn btn-outline-Warning btn-link">Leave</button>
                }
                else
                {
                    <button class="btn btn-outline-Success btn-link">Join</button>
                }
            </form>
        }
    }
</div>
<div>Event Coordinator: @Model.User.Name</div>
<div>
    <p>@Model.Description</p>
</div>


<div>
    <div>Participants:</div>
    @foreach (var p in Model.ActiveUser)
    {
        <p>@p.User.Name</p>
        <hr>
    }
</div>